In [97]:
import pandas as pd
import numpy as np
from fuzzywuzzy import fuzz



df = pd.read_csv('data/turnstile_160507.txt') 
df_income = pd.read_csv('merged.csv')

In [98]:
df_income.columns

Index(['Unnamed: 0', 'subway line', 'lat', 'long', 'stop_name', 'county',
       'census', 'GEO.display-label', 'GEOid2', 'Information_Industry_#',
       'Information_Industry_%', 'HHI_200+_#', 'HHI_200+_%', '2015_med_inc'],
      dtype='object')

In [100]:
df_income = df_income.groupby(['lat','long','stop_name', 'Information_Industry_%', '2015_med_inc'], as_index=False)['subway line'].sum()

In [101]:
df_income.head(5)

,lat,long,stop_name,Information_Industry_%,2015_med_inc,subway line
0,40.575929,-73.976747,W 8 St.-New York Aquarium,1.8,30889,FQ
1,40.576234,-73.967561,Ocean Parkway,0.5,22384,Q
2,40.576900,-73.980846,Coney Island-Stillwell Ave.,1.8,30889,DFNQ
3,40.577986,-73.960258,Brighton Beach,0.0,28750,BQ
4,40.580576,-73.974443,Neptune Ave.,0.8,53158,F

In [105]:
import csv

df_income['COMPLETE_NAME'] = df_income['stop_name'] + ' ' + df_income['subway line']
with open('merge_mapping.csv') as namefile:
    reader = csv.reader(namefile)
    for row in reader:
        df_income.loc[df_income.COMPLETE_NAME == row[0], 'COMPLETE_NAME'] = row[1]
df_income.head(10)
df_income.to_csv('final_merge_info.csv')

In [93]:
df['COMPLETE_NAME'] = df['STATION'] + ' ' + df['LINENAME']
df_income['COMPLETE_NAME'] = df_income['stop_name'] + ' ' + df_income['subway line']

In [47]:
name_list = list(df_names)
f = open('name_mapping.csv', 'w')
for i in range(len(name_list)):
    result = process.extract(name_list[i], name_list, limit=2)
    score = result[1]
    if (score[1] > 92 and score[1] < 100):
        name_mapping[name_list[i]]= score[0]
        f.write(name_list[i] + "," + score[0]+"\n")
f.close()

In [95]:
from fuzzywuzzy import process
f = open('mer_mapping.csv', 'w')
names = df['COMPLETE_NAME'].unique()
for name in df_income['COMPLETE_NAME'].unique():
    score = process.extractOne(name, names, scorer=fuzz.token_sort_ratio)
    f.write(name + "," + score[0]+"\n")
f.close()