In [168]:
import pandas as pd
import numpy as np

data =  open('links.txt').read().splitlines()
PATH = 'data/'
data

['turnstile_160507.txt',
 'turnstile_160514.txt',
 'turnstile_160521.txt',
 'turnstile_160528.txt',
 'turnstile_160604.txt',
 'turnstile_160611.txt',
 'turnstile_160618.txt',
 'turnstile_160625.txt',
 'turnstile_160702.txt']

In [169]:
dfs = [pd.read_csv(PATH + path) for path in data]
df = pd.concat(dfs, ignore_index=True)

In [170]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1747984 entries, 0 to 1747983
Data columns (total 11 columns):
C/A                                                                     object
UNIT                                                                    object
SCP                                                                     object
STATION                                                                 object
LINENAME                                                                object
DIVISION                                                                object
DATE                                                                    object
TIME                                                                    object
DESC                                                                    object
ENTRIES                                                                 int64
EXITS                                                                   int64
dtypes: int64(2), object(9)
memory usage: 146.7+ MB

In [172]:
df.columns = df.columns.str.strip()

df.columns

Index(['C/A', 'UNIT', 'SCP', 'STATION', 'LINENAME', 'DIVISION', 'DATE', 'TIME',
       'DESC', 'ENTRIES', 'EXITS'],
      dtype='object')

In [173]:
df['TIME'].unique()

array(['00:00:00', '04:00:00', '08:00:00', ..., '09:42:43', '10:12:43',
       '09:46:17'], dtype=object)

In [174]:
df_sorted = df.sort_values(by=['C/A', 'UNIT', 'SCP', 'STATION', 'DATE', 'TIME']) 
df_sorted

,C/A,UNIT,SCP,STATION,LINENAME,DIVISION,DATE,TIME,DESC,ENTRIES,EXITS
0,A002,R051,02-00-00,59 ST,NQR456,BMT,04/30/2016,00:00:00,REGULAR,5639941,1909983
1,A002,R051,02-00-00,59 ST,NQR456,BMT,04/30/2016,04:00:00,REGULAR,5639991,1909993
2,A002,R051,02-00-00,59 ST,NQR456,BMT,04/30/2016,08:00:00,REGULAR,5640014,1910024
3,A002,R051,02-00-00,59 ST,NQR456,BMT,04/30/2016,12:00:00,REGULAR,5640158,1910134
4,A002,R051,02-00-00,59 ST,NQR456,BMT,04/30/2016,16:00:00,REGULAR,5640454,1910197
5,A002,R051,02-00-00,59 ST,NQR456,BMT,04/30/2016,20:00:00,REGULAR,5640802,1910254
6,A002,R051,02-00-00,59 ST,NQR456,BMT,05/01/2016,00:00:00,REGULAR,5640974,1910328
7,A002,R051,02-00-00,59 ST,NQR456,BMT,05/01/2016,04:00:00,REGULAR,5640996,1910333
8,A002,R051,02-00-00,59 ST,NQR456,BMT,05/01/2016,08:00:00,REGULAR,5641021,1910358
9,A002,R051,02-00-00,59 ST,NQR456,BMT,05/01/2016,12:00:00,REGULAR,5641113,1910427
10,A002,R051,02-00-00,59 ST,NQR456,BMT,05/01/2016,16:00:00,REGULAR,5641329,1910508
11,A002,R051,02-00-00,59 ST,NQR456,BMT,05/01/2016,20:00:00,REGULAR,5641597,1910557
12,A002,R051,02-00-00,59 ST,NQR456,BMT,05/02/2016,00:00:00,REGULAR,5641703,1910577
13,A002,R051,02-00-00,59 ST,NQR456,BMT,05/02/2016,04:00:00,REGULAR,5641718,1910578
14,A002,R051,02-00-00,59 ST,NQR456,BMT,05/02/2016,08:00:00,REGULAR,5641752,1910687
15,A002,R051,02-00-00,59 ST,NQR456,BMT,05/02/2016,12:00:00,REGULAR,5641930,1910980
16,A002,R051,02-00-00,59 ST,NQR456,BMT,05/02/2016,16:00:00,REGULAR,5642221,1911045
17,A002,R051,02-00-00,59 ST,NQR456,BMT,05/02/2016,20:00:00,REGULAR,5643166,1911119
18,A002,R051,02-00-00,59 ST,NQR456,BMT,05/03/2016,00:00:00,REGULAR,5643422,1911159
19,A002,R051,02-00-00,59 ST,NQR456,BMT,05/03/2016,04:00:00,REGULAR,5643435,1911165
20,A002,R051,02-00-00,59 ST,NQR456,BMT,05/03/2016,08:00:00,REGULAR,5643481,1911317
21,A002,R051,02-00-00,59 ST,NQR456,BMT,05/03/2016,12:00:00,REGULAR,5643674,1911609
22,A002,R051,02-00-00,59 ST,NQR456,BMT,05/03/2016,16:00:00,REGULAR,5643997,1911673
23,A002,R051,02-00-00,59 ST,NQR456,BMT,05/03/2016,20:00:00,REGULAR,5644893,1911762
24,A002,R051,02-00-00,59 ST,NQR456,BMT,05/04/2016,00:00:00,REGULAR,5645140,1911799
25,A002,R051,02-00-00,59 ST,NQR456,BMT,05/04/2016,04:00:00,REGULAR,5645156,1911802
26,A002,R051,02-00-00,59 ST,NQR456,BMT,05/04/2016,08:00:00,REGULAR,5645206,1911923
27,A002,R051,02-00-00,59 ST,NQR456,BMT,05/04/2016,12:00:00,REGULAR,5645396,1912229
28,A002,R051,02-00-00,59 ST,NQR456,BMT,05/04/2016,16:00:00,REGULAR,5645750,1912309
29,A002,R051,02-00-00,59 ST,NQR456,BMT,05/04/2016,20:00:00,REGULAR,5646672,1912383
...,...,...,...,...,...,...,...,...,...,...,...
1747954,TRAM2,R469,00-05-01,RIT-ROOSEVELT,R,RIT,06/27/2016,09:00:00,REGULAR,5554,247
1747955,TRAM2,R469,00-05-01,RIT-ROOSEVELT,R,RIT,06/27/2016,09:46:17,REGULAR,5554,247
1747956,TRAM2,R469,00-05-01,RIT-ROOSEVELT,R,RIT,06/27/2016,10:12:54,REGULAR,5554,247
1747957,TRAM2,R469,00-05-01,RIT-ROOSEVELT,R,RIT,06/27/2016,13:00:00,REGULAR,5554,247
1747958,TRAM2,R469,00-05-01,RIT-ROOSEVELT,R,RIT,06/27/2016,17:00:00,REGULAR,5554,247
1747959,TRAM2,R469,00-05-01,RIT-ROOSEVELT,R,RIT,06/27/2016,21:00:00,REGULAR,5554,247
1747960,TRAM2,R469,00-05-01,RIT-ROOSEVELT,R,RIT,06/28/2016,01:00:00,REGULAR,5554,247
1747961,TRAM2,R469,00-05-01,RIT-ROOSEVELT,R,RIT,06/28/2016,05:00:00,REGULAR,5554,247
1747962,TRAM2,R469,00-05-01,RIT-ROOSEVELT,R,RIT,06/28/2016,09:00:00,REGULAR,5554,247
1747963,TRAM2,R469,00-05-01,RIT-ROOSEVELT,R,RIT,06/28/2016,13:00:00,REGULAR,5554,247
1747964,TRAM2,R469,00-05-01,RIT-ROOSEVELT,R,RIT,06/28/2016,17:00:00,REGULAR,5554,247
1747965,TRAM2,R469,00-05-01,RIT-ROOSEVELT,R,RIT,06/28/2016,21:00:00,REGULAR,5554,247
1747966,TRAM2,R469,00-05-01,RIT-ROOSEVELT,R,RIT,06/29/2016,01:00:00,REGULAR,5554,247
1747967,TRAM2,R469,00-05-01,RIT-ROOSEVELT,R,RIT,06/29/2016,05:00:00,REGULAR,5554,247
1747968,TRAM2,R469,00-05-01,RIT-ROOSEVELT,R,RIT,06/29/2016,09:00:00,REGULAR,5554,247
1747969,TRAM2,R469,00-05-01,RIT-ROOSEVELT,R,RIT,06/29/2016,13:00:00,REGULAR,5554,247
1747970,TRAM2,R469,00-05-01,RIT-ROOSEVELT,R,RIT,06/29/2016,17:00:00,REGULAR,5554,247
1747971,TRAM2,R469,00-05-01,RIT-ROOSEVELT,R,RIT,06/29/2016,21:00:00,REGULAR,5554,247
1747972,TRAM2,R469,00-05-01,RIT-ROOSEVELT,R,RIT,06/30/2016,01:00:00,REGULAR,5554,247
1747973,TRAM2,R469,00-05-01,RIT-ROOSEVELT,R,RIT,06/30/2016,05:00:00,REGULAR,5554,247
1747974,TRAM2,R469,00-05-01,RIT-ROOSEVELT,R,RIT,06/30/2016,09:00:00,REGULAR,5554,247
1747975,TRAM2,R469,00-05-01,RIT-ROOSEVELT,R,RIT,06/30/2016,13:00:00,REGULAR,5554,247
1747976,TRAM2,R469,00-05-01,RIT-ROOSEVELT,R,RIT,06/30/2016,17:00:00,REGULAR,5554,249
1747977,TRAM2,R469,00-05-01,RIT-ROOSEVELT,R,RIT,06/30/2016,21:00:00,REGULAR,5554,249
1747978,TRAM2,R469,00-05-01,RIT-ROOSEVELT,R,RIT,07/01/2016,01:00:00,REGULAR,5554,249
1747979,TRAM2,R469,00-05-01,RIT-ROOSEVELT,R,RIT,07/01/2016,05:00:00,REGULAR,5554,249
1747980,TRAM2,R469,00-05-01,RIT-ROOSEVELT,R,RIT,07/01/2016,09:00:00,REGULAR,5554,249
1747981,TRAM2,R469,00-05-01,RIT-ROOSEVELT,R,RIT,07/01/2016,13:00:00,REGULAR,5554,249
1747982,TRAM2,R469,00-05-01,RIT-ROOSEVELT,R,RIT,07/01/2016,17:00:00,REGULAR,5554,249
1747983,TRAM2,R469,00-05-01,RIT-ROOSEVELT,R,RIT,07/01/2016,21:00:00,REGULAR,5554,249

In [175]:
df_sorted['DESC'].unique()

array(['REGULAR', 'RECOVR AUD'], dtype=object)

In [176]:
df_sorted['entry'] = df_sorted.groupby(['C/A', 'UNIT', 'SCP', 'STATION'])['ENTRIES'].transform(lambda x: x.sum())

In [177]:
df_sorted['entry'] = df_sorted.groupby(['C/A', 'UNIT', 'SCP', 'STATION'])['ENTRIES'].diff()
df_sorted['exit'] = df_sorted.groupby(['C/A', 'UNIT', 'SCP', 'STATION'])['EXITS'].diff()
upper_bound_entry = df_sorted['entry'].median() + df_sorted['entry'].std() * 4
upper_bound_exit = df_sorted['exit'].median() + df_sorted['exit'].std() * 4

mask = (df_sorted.exit >= 0) & (df_sorted.entry >= 0) & (df_sorted.entry < upper_bound_entry) & (df_sorted.exit < upper_bound_exit)
df_filter = df_sorted[mask]
df_filter.head(10)

# for k, v in df_group:
#     v['ENTRIES'] = v['ENTRIES'].diff()
#     break
# df_group.head(100)

,C/A,UNIT,SCP,STATION,LINENAME,DIVISION,DATE,TIME,DESC,ENTRIES,EXITS,entry,exit
1,A002,R051,02-00-00,59 ST,NQR456,BMT,04/30/2016,04:00:00,REGULAR,5639991,1909993,50.0,10.0
2,A002,R051,02-00-00,59 ST,NQR456,BMT,04/30/2016,08:00:00,REGULAR,5640014,1910024,23.0,31.0
3,A002,R051,02-00-00,59 ST,NQR456,BMT,04/30/2016,12:00:00,REGULAR,5640158,1910134,144.0,110.0
4,A002,R051,02-00-00,59 ST,NQR456,BMT,04/30/2016,16:00:00,REGULAR,5640454,1910197,296.0,63.0
5,A002,R051,02-00-00,59 ST,NQR456,BMT,04/30/2016,20:00:00,REGULAR,5640802,1910254,348.0,57.0
6,A002,R051,02-00-00,59 ST,NQR456,BMT,05/01/2016,00:00:00,REGULAR,5640974,1910328,172.0,74.0
7,A002,R051,02-00-00,59 ST,NQR456,BMT,05/01/2016,04:00:00,REGULAR,5640996,1910333,22.0,5.0
8,A002,R051,02-00-00,59 ST,NQR456,BMT,05/01/2016,08:00:00,REGULAR,5641021,1910358,25.0,25.0
9,A002,R051,02-00-00,59 ST,NQR456,BMT,05/01/2016,12:00:00,REGULAR,5641113,1910427,92.0,69.0
10,A002,R051,02-00-00,59 ST,NQR456,BMT,05/01/2016,16:00:00,REGULAR,5641329,1910508,216.0,81.0

In [178]:
df_final = df_filter.groupby(['STATION','DATE', 'TIME', 'LINENAME'], as_index=False)['entry', 'exit'].sum()
df_final.head(10)

  STATION        DATE      TIME LINENAME   entry    exit
0    1 AV  04/30/2016  04:00:00        L  1722.0   945.0
1    1 AV  04/30/2016  08:00:00        L   664.0   819.0
2    1 AV  04/30/2016  12:00:00        L  2744.0  2575.0
3    1 AV  04/30/2016  16:00:00        L  5371.0  3737.0
4    1 AV  04/30/2016  20:00:00        L  5046.0  5237.0
5    1 AV  05/01/2016  00:00:00        L  4510.0  4068.0
6    1 AV  05/01/2016  04:00:00        L  1773.0  1186.0
7    1 AV  05/01/2016  08:00:00        L   476.0   610.0
8    1 AV  05/01/2016  12:00:00        L  2390.0  1809.0
9    1 AV  05/01/2016  16:00:00        L  3698.0  3275.0

In [179]:
df_final['DATE'] = pd.to_datetime(df_final['DATE'], format='%m/%d/%Y')
df_final['weekday'] = df_final['DATE'].dt.dayofweek
df_final.head(10)

  STATION       DATE      TIME LINENAME   entry    exit  weekday
0    1 AV 2016-04-30  04:00:00        L  1722.0   945.0        5
1    1 AV 2016-04-30  08:00:00        L   664.0   819.0        5
2    1 AV 2016-04-30  12:00:00        L  2744.0  2575.0        5
3    1 AV 2016-04-30  16:00:00        L  5371.0  3737.0        5
4    1 AV 2016-04-30  20:00:00        L  5046.0  5237.0        5
5    1 AV 2016-05-01  00:00:00        L  4510.0  4068.0        6
6    1 AV 2016-05-01  04:00:00        L  1773.0  1186.0        6
7    1 AV 2016-05-01  08:00:00        L   476.0   610.0        6
8    1 AV 2016-05-01  12:00:00        L  2390.0  1809.0        6
9    1 AV 2016-05-01  16:00:00        L  3698.0  3275.0        6

In [180]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
from IPython.display import Image

import seaborn as sns

%matplotlib inline
df_top = df_final.groupby(['STATION', 'LINENAME'], as_index=False)['entry', 'exit'].mean()
df_top = df_top.sort_values(by=['entry'], ascending=[False]) 
df_top.head(20)

             STATION     LINENAME         entry          exit
90   34 ST-HERALD SQ      BDFMNQR  15660.162413  13971.190255
94    34 ST-PENN STA          ACE  14064.302658   8152.314928
443   TIMES SQ-42 ST  1237ACENQRS  11584.594272   9759.513126
310  GRD CNTRL-42 ST        4567S   9686.639856   8640.660264
28    14 ST-UNION SQ      LNQR456   9269.136771   7860.811659
156            86 ST          456   8946.372500   8069.245000
287    FLUSHING-MAIN            7   8717.116162   7021.045455
126   59 ST COLUMBUS        ABCD1   8468.646907   6587.945876
93    34 ST-PENN STA       123ACE   7752.798982   5367.923664
107   47-50 STS ROCK         BDFM   7574.560386   7866.727053
337  JKSN HT-ROOSVLT        EFMR7   7306.829949   5499.068528
122            59 ST       456NQR   7047.647959   6432.237245
91   34 ST-HUDSON YD            7   6684.764550   2957.539683
455   W 4 ST-WASH SQ      ABCDEFM   6558.231169   6167.197403
255  CLINTON-WASH AV            G   6457.915119     91.270557
233         CANAL ST       JNQRZ6   5813.510204   4052.013605
139            72 ST          123   5755.920513   5220.371795
101  42 ST-BRYANT PK        BDFM7   5648.960298   5478.424318
163            96 ST          123   5584.159705   5287.280098
331   JAMAICA CENTER          EJZ   5516.274112   3984.883249