In [86]:
import pandas as pd
import numpy as np
df = pd.read_csv('http://web.mta.info/developers/data/nyct/turnstile/turnstile_161231.txt')

In [87]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 192348 entries, 0 to 192347
Data columns (total 11 columns):
C/A                                                                     192348 non-null object
UNIT                                                                    192348 non-null object
SCP                                                                     192348 non-null object
STATION                                                                 192348 non-null object
LINENAME                                                                192348 non-null object
DIVISION                                                                192348 non-null object
DATE                                                                    192348 non-null object
TIME                                                                    192348 non-null object
DESC                                                                    192348 non-null object
ENTRIES                                                                 192348 non-null int64
EXITS                                                                   192348 non-null int64
dtypes: int64(2), object(9)
memory usage: 16.1+ MB

In [88]:
df.columns = df.columns.str.strip()

df.columns

Index(['C/A', 'UNIT', 'SCP', 'STATION', 'LINENAME', 'DIVISION', 'DATE', 'TIME',
       'DESC', 'ENTRIES', 'EXITS'],
      dtype='object')

In [89]:
df['TIME'].unique()

array(['03:00:00', '07:00:00', '11:00:00', ..., '08:40:13', '07:06:44',
       '08:06:17'], dtype=object)

In [90]:
df_sorted = df.sort_values(by=['C/A', 'UNIT', 'SCP', 'STATION', 'DATE', 'TIME']) 
df_sorted

,C/A,UNIT,SCP,STATION,LINENAME,DIVISION,DATE,TIME,DESC,ENTRIES,EXITS
0,A002,R051,02-00-00,59 ST,NQR456W,BMT,12/24/2016,03:00:00,REGULAR,5980509,2025806
1,A002,R051,02-00-00,59 ST,NQR456W,BMT,12/24/2016,07:00:00,REGULAR,5980531,2025818
2,A002,R051,02-00-00,59 ST,NQR456W,BMT,12/24/2016,11:00:00,REGULAR,5980613,2025912
3,A002,R051,02-00-00,59 ST,NQR456W,BMT,12/24/2016,15:00:00,REGULAR,5980899,2025965
4,A002,R051,02-00-00,59 ST,NQR456W,BMT,12/24/2016,19:00:00,REGULAR,5981382,2026001
5,A002,R051,02-00-00,59 ST,NQR456W,BMT,12/24/2016,23:00:00,REGULAR,5981539,2026021
6,A002,R051,02-00-00,59 ST,NQR456W,BMT,12/25/2016,03:00:00,REGULAR,5981604,2026032
7,A002,R051,02-00-00,59 ST,NQR456W,BMT,12/25/2016,07:00:00,REGULAR,5981610,2026035
8,A002,R051,02-00-00,59 ST,NQR456W,BMT,12/25/2016,11:00:00,REGULAR,5981657,2026064
9,A002,R051,02-00-00,59 ST,NQR456W,BMT,12/25/2016,15:00:00,REGULAR,5981762,2026094
10,A002,R051,02-00-00,59 ST,NQR456W,BMT,12/25/2016,19:00:00,REGULAR,5981945,2026113
11,A002,R051,02-00-00,59 ST,NQR456W,BMT,12/25/2016,23:00:00,REGULAR,5982031,2026128
12,A002,R051,02-00-00,59 ST,NQR456W,BMT,12/26/2016,03:00:00,REGULAR,5982069,2026141
13,A002,R051,02-00-00,59 ST,NQR456W,BMT,12/26/2016,07:00:00,REGULAR,5982080,2026155
14,A002,R051,02-00-00,59 ST,NQR456W,BMT,12/26/2016,11:00:00,REGULAR,5982184,2026275
15,A002,R051,02-00-00,59 ST,NQR456W,BMT,12/26/2016,15:00:00,REGULAR,5982424,2026352
16,A002,R051,02-00-00,59 ST,NQR456W,BMT,12/26/2016,19:00:00,REGULAR,5982840,2026426
17,A002,R051,02-00-00,59 ST,NQR456W,BMT,12/26/2016,23:00:00,REGULAR,5983073,2026448
18,A002,R051,02-00-00,59 ST,NQR456W,BMT,12/27/2016,03:00:00,REGULAR,5983110,2026450
19,A002,R051,02-00-00,59 ST,NQR456W,BMT,12/27/2016,07:00:00,REGULAR,5983124,2026490
20,A002,R051,02-00-00,59 ST,NQR456W,BMT,12/27/2016,11:00:00,REGULAR,5983239,2026759
21,A002,R051,02-00-00,59 ST,NQR456W,BMT,12/27/2016,15:00:00,REGULAR,5983500,2026859
22,A002,R051,02-00-00,59 ST,NQR456W,BMT,12/27/2016,19:00:00,REGULAR,5984297,2026935
23,A002,R051,02-00-00,59 ST,NQR456W,BMT,12/27/2016,23:00:00,REGULAR,5984628,2026969
24,A002,R051,02-00-00,59 ST,NQR456W,BMT,12/28/2016,03:00:00,REGULAR,5984684,2026977
25,A002,R051,02-00-00,59 ST,NQR456W,BMT,12/28/2016,07:00:00,REGULAR,5984698,2027005
26,A002,R051,02-00-00,59 ST,NQR456W,BMT,12/28/2016,11:00:00,REGULAR,5984922,2027243
27,A002,R051,02-00-00,59 ST,NQR456W,BMT,12/28/2016,15:00:00,REGULAR,5985358,2027344
28,A002,R051,02-00-00,59 ST,NQR456W,BMT,12/28/2016,19:00:00,REGULAR,5986497,2027442
29,A002,R051,02-00-00,59 ST,NQR456W,BMT,12/28/2016,23:00:00,REGULAR,5987017,2027479
...,...,...,...,...,...,...,...,...,...,...,...
192318,TRAM2,R469,00-05-01,RIT-ROOSEVELT,R,RIT,12/26/2016,00:00:00,REGULAR,5554,283
192319,TRAM2,R469,00-05-01,RIT-ROOSEVELT,R,RIT,12/26/2016,04:00:00,REGULAR,5554,283
192320,TRAM2,R469,00-05-01,RIT-ROOSEVELT,R,RIT,12/26/2016,08:00:00,REGULAR,5554,283
192321,TRAM2,R469,00-05-01,RIT-ROOSEVELT,R,RIT,12/26/2016,12:00:00,REGULAR,5554,283
192322,TRAM2,R469,00-05-01,RIT-ROOSEVELT,R,RIT,12/26/2016,16:00:00,REGULAR,5554,283
192323,TRAM2,R469,00-05-01,RIT-ROOSEVELT,R,RIT,12/26/2016,20:00:00,REGULAR,5554,283
192324,TRAM2,R469,00-05-01,RIT-ROOSEVELT,R,RIT,12/27/2016,00:00:00,REGULAR,5554,283
192325,TRAM2,R469,00-05-01,RIT-ROOSEVELT,R,RIT,12/27/2016,04:00:00,REGULAR,5554,283
192326,TRAM2,R469,00-05-01,RIT-ROOSEVELT,R,RIT,12/27/2016,08:00:00,REGULAR,5554,283
192327,TRAM2,R469,00-05-01,RIT-ROOSEVELT,R,RIT,12/27/2016,12:00:00,REGULAR,5554,283
192328,TRAM2,R469,00-05-01,RIT-ROOSEVELT,R,RIT,12/27/2016,16:00:00,REGULAR,5554,283
192329,TRAM2,R469,00-05-01,RIT-ROOSEVELT,R,RIT,12/27/2016,20:00:00,REGULAR,5554,283
192330,TRAM2,R469,00-05-01,RIT-ROOSEVELT,R,RIT,12/28/2016,00:00:00,REGULAR,5554,283
192331,TRAM2,R469,00-05-01,RIT-ROOSEVELT,R,RIT,12/28/2016,04:00:00,REGULAR,5554,283
192332,TRAM2,R469,00-05-01,RIT-ROOSEVELT,R,RIT,12/28/2016,08:00:00,REGULAR,5554,283
192333,TRAM2,R469,00-05-01,RIT-ROOSEVELT,R,RIT,12/28/2016,12:00:00,REGULAR,5554,283
192334,TRAM2,R469,00-05-01,RIT-ROOSEVELT,R,RIT,12/28/2016,16:00:00,REGULAR,5554,283
192335,TRAM2,R469,00-05-01,RIT-ROOSEVELT,R,RIT,12/28/2016,20:00:00,REGULAR,5554,283
192336,TRAM2,R469,00-05-01,RIT-ROOSEVELT,R,RIT,12/29/2016,00:00:00,REGULAR,5554,283
192337,TRAM2,R469,00-05-01,RIT-ROOSEVELT,R,RIT,12/29/2016,04:00:00,REGULAR,5554,283
192338,TRAM2,R469,00-05-01,RIT-ROOSEVELT,R,RIT,12/29/2016,08:00:00,REGULAR,5554,283
192339,TRAM2,R469,00-05-01,RIT-ROOSEVELT,R,RIT,12/29/2016,12:00:00,REGULAR,5554,283
192340,TRAM2,R469,00-05-01,RIT-ROOSEVELT,R,RIT,12/29/2016,16:00:00,REGULAR,5554,283
192341,TRAM2,R469,00-05-01,RIT-ROOSEVELT,R,RIT,12/29/2016,20:00:00,REGULAR,5554,283
192342,TRAM2,R469,00-05-01,RIT-ROOSEVELT,R,RIT,12/30/2016,00:00:00,REGULAR,5554,283
192343,TRAM2,R469,00-05-01,RIT-ROOSEVELT,R,RIT,12/30/2016,04:00:00,REGULAR,5554,283
192344,TRAM2,R469,00-05-01,RIT-ROOSEVELT,R,RIT,12/30/2016,08:00:00,REGULAR,5554,283
192345,TRAM2,R469,00-05-01,RIT-ROOSEVELT,R,RIT,12/30/2016,12:00:00,REGULAR,5554,283
192346,TRAM2,R469,00-05-01,RIT-ROOSEVELT,R,RIT,12/30/2016,16:00:00,REGULAR,5554,283
192347,TRAM2,R469,00-05-01,RIT-ROOSEVELT,R,RIT,12/30/2016,20:00:00,REGULAR,5554,283

In [91]:
df_sorted['DESC'].unique()

array(['REGULAR', 'RECOVR AUD'], dtype=object)

In [92]:
df_sorted['entry'] = df_sorted.groupby(['C/A', 'UNIT', 'SCP', 'STATION'])['ENTRIES'].transform(lambda x: x.sum())

In [144]:
df_sorted['entry'] = df_sorted.groupby(['C/A', 'UNIT', 'SCP', 'STATION'])['ENTRIES'].diff()
df_sorted['exit'] = df_sorted.groupby(['C/A', 'UNIT', 'SCP', 'STATION'])['EXITS'].diff()
upper_bound_entry = df_sorted['entry'].median() + df_sorted['entry'].std() * 4
upper_bound_exit = df_sorted['exit'].median() + df_sorted['exit'].std() * 4

mask = (df_sorted.exit >= 0) & (df_sorted.entry >= 0) & (df_sorted.entry < upper_bound_entry) & (df_sorted.exit < upper_bound_exit)
df_filter = df_sorted[mask]
df_filter.head(10)

# for k, v in df_group:
#     v['ENTRIES'] = v['ENTRIES'].diff()
#     break
# df_group.head(100)

,C/A,UNIT,SCP,STATION,LINENAME,DIVISION,DATE,TIME,DESC,ENTRIES,EXITS,entry,exit
1,A002,R051,02-00-00,59 ST,NQR456W,BMT,12/24/2016,07:00:00,REGULAR,5980531,2025818,22.0,12.0
2,A002,R051,02-00-00,59 ST,NQR456W,BMT,12/24/2016,11:00:00,REGULAR,5980613,2025912,82.0,94.0
3,A002,R051,02-00-00,59 ST,NQR456W,BMT,12/24/2016,15:00:00,REGULAR,5980899,2025965,286.0,53.0
4,A002,R051,02-00-00,59 ST,NQR456W,BMT,12/24/2016,19:00:00,REGULAR,5981382,2026001,483.0,36.0
5,A002,R051,02-00-00,59 ST,NQR456W,BMT,12/24/2016,23:00:00,REGULAR,5981539,2026021,157.0,20.0
6,A002,R051,02-00-00,59 ST,NQR456W,BMT,12/25/2016,03:00:00,REGULAR,5981604,2026032,65.0,11.0
7,A002,R051,02-00-00,59 ST,NQR456W,BMT,12/25/2016,07:00:00,REGULAR,5981610,2026035,6.0,3.0
8,A002,R051,02-00-00,59 ST,NQR456W,BMT,12/25/2016,11:00:00,REGULAR,5981657,2026064,47.0,29.0
9,A002,R051,02-00-00,59 ST,NQR456W,BMT,12/25/2016,15:00:00,REGULAR,5981762,2026094,105.0,30.0
10,A002,R051,02-00-00,59 ST,NQR456W,BMT,12/25/2016,19:00:00,REGULAR,5981945,2026113,183.0,19.0

In [145]:
df_final = df_filter.groupby(['STATION','DATE', 'TIME', 'LINENAME'], as_index=False)['entry', 'exit'].sum()
df_final.head(10)

  STATION        DATE      TIME LINENAME   entry    exit
0    1 AV  12/24/2016  07:00:00        L   341.0   487.0
1    1 AV  12/24/2016  11:00:00        L  1268.0  1628.0
2    1 AV  12/24/2016  15:00:00        L  2128.0  2091.0
3    1 AV  12/24/2016  19:00:00        L  2582.0  2750.0
4    1 AV  12/24/2016  23:00:00        L  1854.0  1895.0
5    1 AV  12/25/2016  03:00:00        L   787.0   801.0
6    1 AV  12/25/2016  07:00:00        L   178.0   296.0
7    1 AV  12/25/2016  11:00:00        L   710.0   903.0
8    1 AV  12/25/2016  15:00:00        L  1462.0  1550.0
9    1 AV  12/25/2016  19:00:00        L  1756.0  2115.0

In [134]:
df_final['DATE'] = pd.to_datetime(df_final['DATE'], format='%m/%d/%Y')
df_final['weekday'] = df_final['DATE'].dt.dayofweek
df_final.head(10)

  STATION       DATE      TIME LINENAME   entry    exit  weekday
0    1 AV 2016-12-24  07:00:00        L   341.0   487.0        5
1    1 AV 2016-12-24  11:00:00        L  1268.0  1628.0        5
2    1 AV 2016-12-24  15:00:00        L  2128.0  2091.0        5
3    1 AV 2016-12-24  19:00:00        L  2582.0  2750.0        5
4    1 AV 2016-12-24  23:00:00        L  1854.0  1895.0        5
5    1 AV 2016-12-25  03:00:00        L   787.0   801.0        6
6    1 AV 2016-12-25  07:00:00        L   178.0   296.0        6
7    1 AV 2016-12-25  11:00:00        L   710.0   903.0        6
8    1 AV 2016-12-25  15:00:00        L  1462.0  1550.0        6
9    1 AV 2016-12-25  19:00:00        L  1756.0  2115.0        6

In [146]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
from IPython.display import Image

import seaborn as sns

%matplotlib inline
df_top = df_final.groupby(['STATION', 'LINENAME'], as_index=False)['entry', 'exit'].mean()
df_top = df_top.sort_values(by=['entry'], ascending=[False]) 
df_top.head(20)

             STATION      LINENAME         entry          exit
90   34 ST-HERALD SQ      BDFMNQRW  15785.285714  14492.904762
94    34 ST-PENN STA           ACE   9702.756098   8521.756098
107   47-50 STS ROCK          BDFM   9284.243902   9130.243902
440   TIMES SQ-42 ST  1237ACENQRSW   8336.738095   8602.500000
287    FLUSHING-MAIN             7   7927.926829   6380.243902
310  GRD CNTRL-42 ST         4567S   7285.325581   6663.127907
28    14 ST-UNION SQ      LNQR456W   7043.488372   6584.488372
156            86 ST           456   6488.651163   6127.441860
337  JKSN HT-ROOSVLT         EFMR7   6449.731707   4886.756098
233         CANAL ST       JNQRZ6W   6040.219512   4568.463415
126   59 ST COLUMBUS         ABCD1   5933.904762   4963.928571
93    34 ST-PENN STA        123ACE   5299.000000   3859.420000
103  42 ST-PORT AUTH  ACENQRS1237W   4931.141176   3514.964706
101  42 ST-BRYANT PK         BDFM7   4895.952381   4726.142857
122            59 ST       456NQRW   4835.818182   4771.181818
452   W 4 ST-WASH SQ       ABCDEFM   4223.439024   4218.219512
163            96 ST           123   4124.146341   3903.780488
331   JAMAICA CENTER           EJZ   4087.181818   3122.363636
139            72 ST           123   4054.268293   3837.073171
352  LEXINGTON AV/53           EM6   3928.682927   4089.341463